<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<!--<a href="/patient/list">Patient List</a>-->
			<!--&nbsp;|&nbsp;-->
		</div>
		<!--<div class="col-6 text-right">
			Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
			<form th:action="@{/app-logout}" method="POST">
				<input type="submit" value="Logout"/>
			</form>
		</div>-->
	</div>
	<div class="row"><h2>Note List :</h2><h2 th:text="${patient.firstName} + '.'"> </h2><h2 th:text= "${' ' + patient.familyName}"></h2></div>
	<div class="row">
		<a th:href="@{/patient/addNotes/{id}(id=${patient.id})}" class="btn btn-primary btn-sm">Add Note</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Note</th>
					<!--<th>Family Name</th>
					<th>Gender</th>
					<th>Address</th>
					<th>Phone</th>
					<th>Action</th>-->
				</tr>
			</thead>
			<tbody>
				<tr th:each="note : ${notes}">
					<td style="" th:text="${note.note}"></td>
					<!--<td th:text="${patient.familyName}"></td>
					<td th:text="${patient.gender}"></td>
					<td th:text="${patient.address}"></td>
					<td th:text="${patient.phone}"></td>-->
					
					<td style="" class="text-center">
						<a th:href="@{/patient/update/{id}(id=${note.id})}">Edit</a>
						<!--&nbsp;|&nbsp;
						<a th:href="@{/patient/{id}(id=${patient.id})}">Show</a>-->
					</td>
				</tr>
			</tbody>
		</table>
		<div class="form-group">
				<div class="col-sm-12">
					<a class="btn btn-danger btn-sm" href="/patient/list">Cancel</a>
				</div>
			</div>
	</div>
</div>
</body>
</html>
